

.App{
  background-image: url("../public//images//bg.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  z-index: 40;
}
.App-inner{
  width: 100vw;
  height: 100%;
}